.app {
    width: 100%;
    height: 100vh;
    background-image: url("../../images/sigin_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.sigin-form-container {
    position: absolute;
    top: 20vh;
    left: 20vw;
    height: 400px;
    background-color: #fff;
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-title {
    font-size: 40px;
}

.sigin-form input[type='text'],
.sigin-form input[type='password'] {
    padding: 8px 20px;
    margin-top: 20px;
    border: 3px solid #ccc;
    border-color: transparent transparent #000 transparent;
    width: 300px;
    font-weight: 500;
}

.sigin-form input[type='button'] {
    margin-top: 40px;
    background-color: greenyellow;
    width: 300px;

}